// .header{
//     position: fixed;
//     height: 40px;
//     top: 0;
//     left: 0;
//     right: 0;
// }

.avatar{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
}

.signUp {
    background-color: #efefef !important;
    color: #000000;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid #fff !important;
}

.signUp:hover{
    background-color: #dadada !important;
    color: #000000 !important;
}

.custom_modal {
    border-radius: 32px !important;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
    width: 90%;
}